.edit-user-container {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
}

.subtitle {
  font: var(--text-h3);
  color: var(--purple-950);
  margin: 0px;
  margin-bottom: 2%;
  padding: 0px;
}

.user-data {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 150px;
  column-gap: 5%;
  row-gap: 20px;
  grid-template-areas:
    'name   email   picture'
    'role   role    picture'
    'upload upload  picture';
}

.name {
  grid-area: name;
}

.email {
  width: calc(100% - 20px);
  grid-area: email;
}

.profile-picture {
  grid-area: picture;
  align-self: center;
  justify-self: center;
  align-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.role {
  grid-area: role;
  position: relative;
}

.role::after {
  content: '▼';
  font-size: 2rem;
  top: 5px;
  right: 15px;
  position: absolute;
  color: var(--light-fc);
  pointer-events: none;
}

.upload {
  grid-area: upload;
}

.user-tickets-container {
  margin-top: 20px;
  display: grid;
  align-content: center;
  grid-template-areas:
    'title   more-info'
    'ticket-container ticket-container';
}

.recent-tickets-text {
  font: var(--text-h3);
  color: var(--purple-950);
  margin: 0px;
  margin-top: 2%;
  padding: 0px;
  grid-area: title;
}

.see-more-info {
  grid-area: more-info;
}

.tickets-container {
  margin-top: 2%;
  grid-area: ticket-container;
}

.input-field {
  font: var(--text-h5);
  color: var(--light-fc);
  border-radius: 8px;
  background-color: var(--shade-main-color);
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.select-custom option {
  background-color: var(--shade-main-color);
  color: var(--light-fc);
  outline: none;
  border-style: none;
}

app-upload-image {
  grid-area: upload;
}
