.orange-upload-box {
  background-color: #ffd6a5 !important;
  border: 2px dashed #ff8a00 !important;
  border-radius: 14px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.upload-icon-svg {
  width: 40px;
  margin-bottom: 10px;
}

.hidden-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
