services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: production
    environment:
      - NODE_ENV=production
    volumes: !reset []

  frontend:
    build:
      context: ./schedio-frontend
      dockerfile: Dockerfile
      target: server
    ports:
      - "4200:80"
    environment:
      - NODE_ENV=production
    volumes: !reset []
