services:
  backend:
    build:
      target: production
    environment:
      - NODE_ENV=production

  frontend:
    build:
      target: production
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
