services:
  mongo:
    image: mongo:latest
    container_name: schedio-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      target: development
    container_name: schedio-backend
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo
    environment:
      - MONGODB_URI=mongodb://mongo:27017/schedio
      - CHOKIDAR_USEPOLLING=true

  frontend:
    build:
      context: ./schedio-frontend
      target: development
    container_name: schedio-frontend
    ports:
      - "4200:4200"
    volumes:
      - ./schedio-frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  mongo-data:
