services:
  backend:
    build:
      target: production
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=qa

  frontend:
    build:
      target: production
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=qa
