services:
  backend:
    build:
      target: production
    environment:
      - NODE_ENV=production

  frontend:
    build:
      context: ./schedio-frontend
      target: server
    ports:
      - "4000:80"
    environment:
      - NODE_ENV=production
