services:
  backend:
    build:
      target: production
    environment:
      - NODE_ENV=qa

  frontend:
    build:
      target: production
    ports:
      - "4100:4000"
    environment:
      - NODE_ENV=qa
