:host {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 100%;
}

.basic-profile-info-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  grid-row: span 5;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.input-group {
  display:flex;
  flex-direction: column;
  gap: 8px;
}

.section-label {
  color: var(--dark-fc);
  font: var(--text-h6);
  margin-top: 8px;
  display: block;
  font-weight: 600;
  grid-column: span 2;
}

.custom-select {
  background-color: var(--purple-200) !important;
  border: none !important;
  padding: 12px 16px !important;
  border-radius: 8px !important;
  font: var(--text-h6);
  color: var(--light-fc);
  font-weight: var(--fw-medium);
  width: 100% !important;
  box-sizing: border-box !important;
  grid-column: span 2;
}

#logout ::ng-deep button {
  background-color: var(--purple-600);
  font: var(--text-h6);
  font-weight: var(--fw-semiBold);
}

.username {
  color: var(--purple-950);
  font: var(--text-h5);
  display: flex;
  gap: 8px;
  align-items: center;
}

.edit-btn {
  height: 25px;
  width: 25px;
  background: var(--accent-color);
  border: none;
  border-radius: 50%;
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: start;
  height: 80%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  align-items: start;
}

#report-btn ::ng-deep button {
  border-color: var(--error);
  color: var(--error);
}

.pageHeader {
  color: var(--purple-950);
  font: var(--text-h2);
  margin: 0 0 20px 0;
}

app-upload-image {
  grid-column: span 2;
}
