.app-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 70px 1fr;
  grid-template-areas:
    'sidebar main';
}

app-sidebar-menu {
  grid-area: sidebar;
}

app-main-app-component {
  grid-area: main;
}
