.edit-user-credentials-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font: var(--text-h3);
  color: var(--purple-950);
  margin: 0px;
  margin-bottom: 2%;
  padding: 0px;
}

.search-container {
  align-self: flex-end;
  width: 50%;
  display: grid;
  column-gap: 8%;
  grid-template-areas: 'input search-button';
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

th {
  background-color: var(--purple-400);
  color: white;
  padding: 15px 15px;
  font: var(--text-h6);
}

th:first-child {
  border-top-left-radius: 15px;
}

th:last-child {
  border-top-right-radius: 15px;
}

td {
  padding: 15px;
  vertical-align: middle;
}

td button {
  border-style: none;
  background: none;
}

tbody tr:nth-child(even) {
  background-color: var(--grey-100);
}

tbody tr:hover {
  background-color: var(--shade-main-color);
  transition: background-color 0.2s ease;
}

.input-wrapper {
  grid-area: input;
}

.search-button {
  grid-area: 'search-button';
  border-style: none;
  cursor: pointer;
  justify-self: flex-start;
}

.table-container {
  width: 100%;
  margin-top: 5%;
  max-height: 400px;
  overflow-y: auto;

  /* Para que el redondeado se vea bien con el scroll */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

table {
  width: 100%;
}

.btn-edit {
  cursor: pointer;
}
