* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 8rem;
  font-weight: 800;
  color: var(--orange-600);

}

h2 {
  font: var(--text-h2);
  color: var(--purple-800);
}

p {
  font: var(--text-p);
  color: var(--purple-950);
  max-width: 72ch;
  text-align: center;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}