.option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  cursor: pointer;
  margin-top: 30%;
}

.option-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
