.input-field {
  font: var(--text-h6);
  color: var(--light-fc);
  border-radius: 8px;
  background-color: var(--shade-main-color);
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  font-weight: 500;
}
