@import './styles/_themes.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font: var(--text-p);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header h1 {
  font: var(--text-h1);
  color: white;
  margin-left: 2%;
}

.vertical {
  display: flex;
  flex-direction: column;
}
