<div class="sidebar-container">
  <div class="main-options">
    <app-menu-option
      link="/calendar"
      iconSrc="./icon_calendar.svg"
      label="Calendario"
    ></app-menu-option>
    <app-menu-option link="/streaks" iconSrc="./icon_streaks.svg" label="Rachas"></app-menu-option>
    <app-menu-option link="/tasks" iconSrc="./icon_tasks.svg" label="Tareas"></app-menu-option>
    <app-menu-option link="/courses" iconSrc="./icon_courses.svg" label="Cursos"></app-menu-option>
  </div>

  <div class="user-configurations">
    <app-menu-option link="/profile" iconSrc="./icon_profile.svg" label="Perfil"></app-menu-option>
    <app-menu-option
      link="/settings"
      iconSrc="./icon_settings.svg"
      label="Configuración"
    ></app-menu-option>
  </div>
</div>
