.main-content {
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 6fr;
  column-gap: 2%;
  grid-template-areas:
    'header header'
    'calendar-and-tasks router';
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.main-container {
  grid-area: router;
  background-color: var(--main-card-color);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.calendar-and-tasks {
  grid-area: calendar-and-tasks;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

app-calendar-tab,
app-personal-calendar,
app-user-favorites,
app-categories {
  display: block;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
app-calendar-tab {
  grid-row: 1;
}
app-personal-calendar {
  grid-row: 2;
}
app-user-favorites {
  grid-row: 3;
}
app-categories {
  grid-row: 4;
}
