<main class="main-content">
  <header class="header">
    <h1>{{ viewTitle() }}</h1>
  </header>

  <section class="calendar-and-tasks">
    <app-calendar-tab></app-calendar-tab>
    <app-personal-calendar></app-personal-calendar>
    <app-user-favorites></app-user-favorites>
    <app-categories></app-categories>
  </section>

  <div class="main-container">
<!-- Ejemplo de uso de los componentes -->
<!--    <app-rect-base-button>Cancelar</app-rect-base-button>-->
<!--    <app-rect-base-button [isAction]="true">Enviar Datos</app-rect-base-button>-->

<!--    <app-input-field placeholder = 'Input'></app-input-field>-->

    <router-outlet></router-outlet>
  </div>
</main>
