main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 2rem;
  padding: 1rem;
}

.login-container {
  background-color: var(--main-card-color);
  border-radius: 24px;
  padding: 2rem;
  gap: 1rem;
  width: clamp(20rem, 95%, 28rem);
  justify-content: center;
  align-items: center;
  height: auto; 
  /* Changed height from 60% to auto to fit all the inputs nicely */
}

.image-container {
  width: clamp(20rem, 95%, 54rem);
  height: 100%;
  display: grid;
  place-content: center;
}

.image-container img {
  width: 100%;
}

.login-form {
  gap: 1rem;
  width: 100%;
}

.login-logo {
  width: clamp(12rem, 20vw, 16rem);
}

a {
  font-size: var(--text-p);
  color: var(--grey-800);
  text-decoration: underline;
  font-weight: 500;
  transition: 0.25s ease-in-out;
}

a:hover {
  color: var(--purple-800);
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: flex-end;
  }
}
